.wrapSlidePosts {
    width: 100%;
}
.wrapSlidePosts .slidePostsNav {
    margin: 2em 0 0;
}
.wrapSlidePosts .slidePostsNav .navigation.pagination {
    width: 100%;
    float: none;
    border-top: 1px solid #eee;
}
.wrapSlidePosts .postBlock {
    padding: 0 0 20px;
}
.wrapSlidePosts .slidePostsNav .nav-links a.page-numbers,
.wrapSlidePosts .slidePostsNav .nav-links span.page-numbers {
    display: none;
}
.wrapSlidePosts .slidePostsNav .nav-links a.next.page-numbers,
.wrapSlidePosts .slidePostsNav .nav-links span.next.page-numbers,
.wrapSlidePosts .slidePostsNav .nav-links a.prev.page-numbers,
.wrapSlidePosts .slidePostsNav .nav-links span.prev.page-numbers {
    display: inline-block;
    background: none;
    font-size: 1em;
    color: #000;
    font-weight: normal;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.wrapSlidePosts .paginateNumber,
.wrapSlidePosts .pagesNumber,
.wrapSlidePosts .catName {
    display: none;
}
.wrapSlidePosts .postImg img {
    width: 100%;
}