.wrapSlidePosts {
    width: 100%;
}
.slidePostsContainer {
    width: 100%;
    overflow: hidden;
    display: block;
}
.wrapSlidePosts .slidePostsNav .nav-links a.page-numbers,
.wrapSlidePosts .slidePostsNav .nav-links span.page-numbers {
    display: none;
}
.wrapSlidePosts .slidePostsNav .nav-links a.next.page-numbers,
.wrapSlidePosts .slidePostsNav .nav-links span.next.page-numbers,
.wrapSlidePosts .slidePostsNav .nav-links a.prev.page-numbers,
.wrapSlidePosts .slidePostsNav .nav-links span.prev.page-numbers {
    display: inline-block;
}
.wrapSlidePosts .paginateNumber,
.wrapSlidePosts .pagesNumber,
.wrapSlidePosts .catName {
    display: none;
}